.my-card {
  width: 100%;
  max-width: 250px
}

.search-field
  transition: width .36s
  width: 900px
  .q-field__control
    border-radius: 4px
    &:before
      border-bottom: none
    &:hover:before
      opacity: .78
    &:after
      background: none
  &.sb-closed
    width: 46px
    .q-field__control
      background: none

