<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.4.13/dist/quasar.prod.css" rel="stylesheet" type="text/css">

  <title>Notepad for 209AS HCI</title>
  <link rel="icon" href="data:image/ico;base64,aWNv">
</head>

<body>

  <div id="q-app" style="min-height: 100vh;">

    <div class="q-pa-md q-gutter-md">
        <q-btn v-for="(kw, idx) in keywords" :color="kw.color" size="sm" @click="selectByKw(kw, idx)">
          [[ kw.name ]]
          <!--
          <q-badge color="orange" floating transparent>
            [[ kw ]]
          </q-badge>
          -->
        </q-btn>
    </div>

    <q-separator color="orange" inset></q-separator>

    <div class="q-pa-md row items-start q-gutter-md">
      <q-card class="my-card" style="width: 500px">
        <q-card-section class="bg-primary text-white">
          <div class="text-h6">
            [[ newnote.title ]]
          </div>
          <q-popup-edit v-model="newnote.title"
            auto-save
            title="Edit the title"
            v-slot="scope"
            >
                <q-input v-model="scope.value"
                dense autofocus counter 
                @keyup.enter="scope.set"></q-input>
          </q-popup-edit>
        </q-card-section>
  
        <q-card-section>
          <div v-html="newnote.body"></div>
              <q-popup-edit
                buttons
                v-model="newnote.body"
                v-slot="scope"
                auto-save
              >
                <q-editor
                  v-model="scope.value"
                  min-height="8rem"
                  autofocus
                  @keyup.enter.stop
                ></q-editor>
              </q-popup-edit>
        </q-card-section>
        <q-separator></q-separator>

        <q-card-actions align='right'>
          <!--<q-btn flat @click="removeNote(index)">Reset</q-btn>-->
          <q-btn flat @click="saveNote(newnote, -1)">Add</q-btn>
        </q-card-actions>
      </q-card>
    </div>

    <div class="q-pa-md row items-start q-gutter-md">
      <q-card v-for="(note, index) in notes" class="my-card" style="width: 500px">
      <q-card-section class="bg-primary text-white">
        <div>
          <div class="text-h6">
            [[ note.title ]]
          </div>
          <q-popup-edit v-model="note.title"
            auto-save
            title="Edit the title"
            v-slot="scope"
            >
                <q-input v-model="scope.value"
                dense autofocus counter 
                @keyup.enter="scope.set"></q-input>
          </q-popup-edit>
        </div>
          <q-badge v-for="(kw, index) in note.keywords"
            align="middle"
            color="orange"
            rounded>
            [[ kw ]]
          </q-badge>
      </q-card-section>
  
      <q-card-section>
        <div v-html="note.body"></div>
            <q-popup-edit
              buttons
              v-model="note.body"
              v-slot="scope"
              auto-save
            >
              <q-editor
                v-model="scope.value"
                min-height="8rem"
                autofocus
                @keyup.enter.stop
              ></q-editor>
            </q-popup-edit>
      </q-card-section>
    
      <q-separator></q-separator>
    
      <q-card-actions align='right'>
        <q-btn flat @click="deleteNote(note, index)">DELETE</q-btn>
        <q-btn flat @click="saveNote(note, index)">UPDATE</q-btn>
      </q-card-actions>
  
      </q-card>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.4.13/dist/quasar.umd.prod.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{ static_url('js/note.js') }}" type="module"></script>
  <!-- <script src="{{ static_url('js/connect.js') }}" type="submodule"></script> -->


</body>

</html>
